<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">Matcha</a>
        <ul class="left hide-on-med-and-down">
            <li><a href="/users">Liste des MILF</a></li>
            <li><a href="/chat">Chat</a></li>
            <li class="active"><a href="/users/connection">Connexion</a></li>
        </ul>
    </div>
</nav>