<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">Neverland</a>
        <ul class="left hide-on-med-and-down">
            <li><a href="/users">Profils</a></li>
            <li><a href="/chat">Chat</a></li>
			<% if (session.login) { %>
				<li><a href="/deconnection">Deconnexion</a></li>
				<li><a href="/myprofile"><%= session.login %></a></li>
			<% } else {%>
				<li class="active"><a href="/connection">Connexion</a></li>
			<% } %>
        </ul>
    </div>
</nav>

<% if (flash.error) { %>
	<div id="flash_error"> oh non nous avons cette erreur <%= flash.error %> </div>
<% } %>
<% if (flash.notice) { %>
	<div id="flash_notice"> bravo <%= flash.notice %> </div>
<% } %>
