<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Chat</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <% include ./partials/header.ejs %>
        <h1>Chat</h1>

        <div class="chat_window">
            <section id="chat">
                <ul id="messages"></ul>
                <form action="">
                    <input id="m" autocomplete="off" /><button>Send</button>
                </form>
            </section>
        </div>

        <% include ./partials/footer.ejs %>

        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="/js/socket.io.js"></script>
        <script src="/js/client.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/js/materialize.min.js"></script>
    </body>
</html>