<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Accueil</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <% include ./partials/header.ejs %>

        <div class="page_title">Connexion</div>
        <div class="row" id="register-form">
            <form class="col s12" id="register" action="/connection" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <label for="user_name">Login</label>
                        <input type="text" name="user_login" id="user_login">
                    </div>
                    <div class="input-field col s12">
                        <label for="password">Mot de passe</label>
                        <input type="password" name="password" id="password">
                    </div>
                </div>
                <div class="row" id="connection-button">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Se connecter
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        <div>
            <a href="http://localhost:3001/register">S'inscrire</a>
        </div>

        <% include ./partials/footer.ejs %>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
</html>