<header id="header">
	<nav class="customer">
		<li class="logo">
			<a href=""><img src="http://icons.iconarchive.com/icons/dryicons/valentine/128/hearts-icon.png" /></a>
		</li>
		<li style="float: left;background-color: #1E1E1E;width: 100%">
			<a href="">Aperçu</a>
		</li>
		<li style="background-color: #1E1E1E;width: 100%">
			<A href="">Deconnexion</A>
		</li>
		<li style="background-color: #1E1E1E;width: 100%">
			<A href="login">Connexion</A>
		</li>
	</nav>
</header>
