<!DOCTYPE html>
<html ng-app="matcha" lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>matcha</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="/js/app.js"></script>
</head>
<header id="header">
	<nav class="customer">
		<li class="logo">
			<a href=""><img src="http://icons.iconarchive.com/icons/dryicons/valentine/128/hearts-icon.png" /></a>
		</li>
		<li style="float: left;background-color: #1E1E1E;width: 100%">
			<a href="">Aperçu</a>
		</li>
		<li style="background-color: #1E1E1E;width: 100%">
			<A href="">Deconnexion</A>
		</li>
		<li style="background-color: #1E1E1E;width: 100%">
			<A href="">Connexion</A>
		</li>
	</nav>
</header>
