<html ng-app="matcha">
<head>
	<% include head %>
</head>
<body ng-controller="<%= pageController %>">
	<% include header %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
    	<li ng-repeat="phone in phones">{{phone.name}}</li>
    </ul>
	<% include footer %>
</body>
</html>
