<html ng-app="login">
<head>
	<% include head %>
	<script src="/js/controllers/loginController.js"></script>
</head>
<body ng-controller="<%= pageController %>">
	<% include header %>
	<div class="title"></div>
	<div class="subtitle">
		<div class="container">
			<h2>Login here</h2>
		</div>
	</div>
	<div class="container" >
		<div class="notif" style="display:none">
			<ul>
					<li>
						<i class="fa fa-exclamation"></i>
					</li>
			</ul>
		</div>
	<form method="post" class="form">
		<div class="form-group">
			<label for="identifiant">Votre identifiant</label>
			<input ng-model="username" type="text" name="user_name" placeholder="Username" class="form-control" value=""/>
		</div>
		<div class="form-group">
			<label for="password">Votre mot de passe</label>
			<input ng-model="password" type="password" name="user_password" placeholder="Password" class="form-control" value=""/>
		</div>
		<div class="form-group">
			<button type="submit" name="submit" class="btn" ng-click="login()">
				<i class="fa fa-user"></i>
				Log in
			</button>
		</div>
	</form>
	<div class="link-forgot-my-password">
		<a href="">I forgot my password</a>
	</div>
	<div class="register-box">
		<h2>No account yet ?</h2>
		<a href="register">Register</a>
	</div>
	<% include footer %>
