<html ng-app="matcha">
<head>
	<% include head %>
</head>
<body ng-controller="<%= pageController %>">
	<% include header %>
    <h1><%= title %></h1>
    <p>Veuillez vous identifier pour continuer</p>
    FORM
	<% include footer %>
</body>
</html>